<!DOCTYPE html>
<html>
  <head>
    <title>Workplace Complaint Form</title>
    <link rel="stylesheet" href="user_complaint_style.css">
   </head>
  <body>
    <div class="testbox">
      <form method = "post" action="/complaint/">
        {% csrf_token %}
        {{ form.as_p }}
        <h1>Complaint Form</h1>
        <div class="item">
          <p>Your name</p>
          <div>
            <input type="text" name="full_name" placeholder="Full Name" />
          </div>
        </div>
        <div class="item">
          <p>Your email</p>
          <input type="text" name="email"/>
        </div>
        <div class="item">
          <p>Date of complaint</p>
          <input type="date" name="complaint"/> 
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <p>Type of complaint</p>
          <select placeholder="Choose Type" name="complaint_type" id="complaint_type" required>
            <option value="default" selected=""></option>
						<option value="service_quality">Poor product or service quality</option>
						<option value="high_price">High price compared to competitor products</option>
            <option value="missing_feature">Missing or unintuitive features</option>
          </select>  
        </div>
        <div class="item">
          <p>Complaint</p>
          <textarea rows="5"></textarea>  
        </div>
        <div class="btn-block">
          <button type="submit" href="#">Send</button>
        </div>
      </form>
    </div>
  </body>
</html>